/* Estilos para la sección de Servicios */
#servicios {
    padding: 40px 20px;
    margin: 20px 0;
    text-align: center; /* Aseguramos que el texto de la sección esté centrado */
    background-color: #f9f9f9;
    border-radius: 8px;
}

#servicios .texto-arriba {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 30px;
}

.servicios-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.servicio {
    background-color: white;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.servicio h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center; /* Título centrado */
}

.servicio p {
    font-size: 1.1em;
    color: #333;
    margin: 10px 0;
    /* text-align: center; /* Centramos la información de cada servicio */
}

.informacion-servicio {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
    text-align: center;  /* Centramos la descripción del servicio */
}


.servicio ul {
    list-style-type: none; /* Elimina los puntos por defecto */
    padding-left: 0; /* Elimina el relleno de la lista */
    font-size: 1em;
    color: #555;
}

.servicio ul li {
    display: flex;
    align-items: center; /* Alinea el ícono de check con el texto */
    margin-bottom: 10px;
}

.servicio ul {
    list-style: none; /* Quitamos los puntos de las listas */
    padding: 0;
    text-align: left; /* Centramos los ítems de la lista */
    margin-top: 20px; /* Agregamos espacio entre el título y la lista */
}

.servicio li {
    font-size: 1.1em;
    color: #333;
    margin: 10px 0;
    text-align: left; /* Aseguramos que cada item de la lista esté centrado */
}

.servicio strong {
    color: #FFFFFF;
}

/* Estilos para el cuadro de precios */
.precio-cuadro {
    background-image: linear-gradient(to right, #004A6F, #0074D9); /* Degradado de colores */
    padding: 15px;
    margin-top: 10px; /* Ajustamos el margen para que se vea bien */
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    /* Hacemos que el cuadro sea cuadrado */
    width: 250px;  /* Establecemos un ancho fijo */
    height: 150px; /* Establecemos la misma altura */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para los textos dentro del cuadro de precio */
.precio-cuadro p {
    margin: 0; /* Elimina márgenes predeterminados */
    font-size: 1.2em;
    color: #fff;
}

/* Estilo específico para la palabra 'Mensual' */
.mensual {
    font-size: 1em;
    color: #e67e22; /* Un color distinto para que se vea más destacado */
    margin-top: 5px;
}

/* Estilo para el precio */
.precio {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}


/* Estilo para el ícono de check */
.check-icon {
    margin-right: 10px; /* Espacio entre el check y el texto */
    font-size: 1.5em; /* Tamaño del ícono */
    color: #28a745; /* Color verde para el check */
}

/* Estilo para la línea de división */
.division-line {
    border: none;
    height: 2px;
    background-color: #e0e0e0;
    margin: 20px 0; /* Espacio antes y después de la línea */
}

/* Aseguramos que el texto "Lo que incluye" y las listas estén centradas */
.servicio h4 {
    font-size: 1.4em;
    color: #333;
    margin-top: -10px;
    text-align: center; /* Centramos el texto de "Lo que incluye" */
}







/* Estilos para la sección de Planes */
#planes {
    padding: 40px 20px;
    margin: 20px 0;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#planes h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#planes p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}



.planes-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.plan {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: left;
}

.plan h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    text-align: center; /* Centra el texto del nombre del plan */
}

.plan p {
    font-size: 1.1em;
    color: #333;
    margin: 10px 0;
}

.plan strong {
    color: #0074D9; /* Color destacado para los porcentajes y los servicios */
}



/* Estilos para los textos arriba de la imagen */

.nav p {
    margin-top: 7px;
    margin-right: 5px;
     /*font-size: 1.1vw; /* El tamaño de fuente se adapta al ancho de la ventana */
   /* margin: 1vh 0;*/
    font-size: 13px;
    letter-spacing: 1px;
    color: white; /* Puedes cambiar el color según tu preferencia */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; /* Animación suave para el cambio de color */
    padding: 0px 20px;
       
}

.enlace {
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.izquierda {
  text-align: left;   
}
.centro {
  text-align: center;
}

.derecha {
  text-align: right;
}

/* Cambio de color al pasar el cursor */
.enlace:hover p {
  color: #004A6F; /* El color cambia a un tono lila (puedes cambiar este color) */
}









/* Contenedor principal */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para cada cuadro */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.card p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left; /* Centra el texto en los párrafos a la izquierda */
}

/* Estilos para las imágenes */
.content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.content img {
  width: 463px; /* Ancho exacto */
  height: 402px; /* Alto exacto */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.content p {
  flex: 1;
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin-top: 0;
}





#comments {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

#comment-form {
    margin-bottom: 20px;
}

#comment-form label {
    display: block;
    margin-top: 10px;
}

#comment-form input, #comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#comment-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: #444;
}

#comment-list {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#map {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

